.filters {
    width: 100%;
    height: fit-content;
    padding: 30px 20px 30px 40px;
    background-color: #f2f0ef;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}
